<h2>My Interests</h2>
<div class="interests">
  <% @interests.each do |interest| %>
    <div id="interest-<%= interest.id %>">
      <p><%= interest.name %></p>
    </div>
  <% end %>
</div>
<%= form_for @interest do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <%= f.submit "+" %>
<% end %>
